body {
    background-color: #f2f2f2;
    font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
}

h2 {
  color:#222222;
  font-size: 18px;
}

.debug {
    display: none;
}


#loading {
	font-size: 80px;
	font-weight: bold;
}